nav{
	border-radius:0px !important;
}

.navbar-header a:hover{
	color: red !important;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #fff !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: red !important;
}

form.form-inline {
	padding: 8px 10px;
}

div.form-group {
	margin: 0px 10px;
}

form.form-inline label {
	color: white;
}

.align_center {
	margin: 10px;
	text-align: center;
}

.description {
	margin: 10px;
}
table label {
	padding: 10px;
}

.btn {
	margin-left: 10px;
}

.register_space{
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}
.icon{
	font-size: 54px;
}
.fa-user-plus{
	color: #2196f3;
}
.fa-search{
	color: #ff9800;
}
.fa-edit{
	color: #4caf50;
}
.fa-trash{
	color: #f44336;
}
.description{
	padding-bottom: 50px;
}


